AI_BUTLER_SDK_BASE_URL=
AI_BUTLER_SDK_TOKEN=
CELERY_BROKER_URL=
CELERY_WORKER_LISTEN_QUEUE=pytorch_object_detection_train
CELERY_WORKER_NAME=pytorch_object_detection_train-01
CELERY_WORKER_CONCURRENCY=1
