AI_BUTLER_SDK_BASE_URL=后端服务地址
AI_BUTLER_SDK_TOKEN=7f992706-57fc-4d73-adae-1d0dfec0f172
CELERY_BROKER_URL=redis://:_2Ni^tag1J@aibutler_redis:6379/3
CELERY_WORKER_LISTEN_QUEUE=pytorch_object_detection_train
CELERY_WORKER_NAME=pytorch_object_detection_train-01
CELERY_WORKER_CONCURRENCY=1
